<!-- About Component -->
<section class="about">
    <div class="container">
        <h2></h2>
        <!-- Content goes here -->
        <section class="about-section">
            <div class="about-container">
                <div class="about-image">
                    <img src="https://images.unsplash.com/photo-1534670007418-fbb7f6cf32c3?q=80&w=2488&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Design tools">
                </div>
                <div class="about-content">
                    <div class="about-tag">About Us</div>
                    <h2 class="about-title">Why the MALF website builder is the best choice for you</h2>
                    <p class="about-text">When you create a website using our website builder, everything is there to build your business the way you want. Run it with total peace of mind knowing that there's enterprise-grade infrastructure built into every site with free reliable web hosting, around-the-clock maintenance and fully managed security.</p>
                    <p class="about-text">Use our tailor-made, customizable templates and 1000s of design features to help bring your vision to life. You can also add your own code for total design control.</p>
                </div>
                </div>
        </section>
    </div>
</section>
