<!-- Hero Component -->
<section class="hero">
    <div class="container">
        <h2></h2>
        <!-- Content goes here -->
        <section class="hero-section">
            <div class="hero-content">
                <div class="tag">Design, Business, Growth & Resource.</div>
                <h1>Create a website without limits</h1>
                <p>Discover the platform that gives you the freedom to create, design, manage and develop your web presence exactly the way you want.</p>
                <button class="btn btn-primary">Get Started</button>
                <p>Try MALF. No credit card required.</p>
            </div>
                <div class="hero-images">
                    <img src="https://img.freepik.com/free-vector/people-planning-work-landing-page_74855-1738.jpg?t=st=1728056275~exp=1728059875~hmac=fac39f1b703d5a2651f77e15538b93b277ce26ad964fec8cb6a32d938e26ff9b&w=1380" alt="Website creation" class="hero-image">
                    <img src="https://venngage-wordpress.s3.amazonaws.com/uploads/2020/08/Casper-Landing-Page-Example-1.jpg" alt="Website design" class="hero-image">
                </div>
            </section>
               
    </div>
</section>
