<!-- Templates Component -->
<section class="templates">
    <div class="container">
        <h2></h2>
        <!-- Content goes here -->
        <section class="template-section">
            <div class="template-container">
                <h2 class="section-subtitle">| Our Templates</h2>
                <h1 class="section-title">Website templates that set<br>you up for success</h1>
                                
        <div class="template-grid" id="templateGrid">
            <div class="template-item">
                <img class="template-image" src="https://img.freepik.com/free-psd/fashion-blog-landing-page-template_23-2149640128.jpg?t=st=1728039465~exp=1728043065~hmac=16fd330bb13f529e12fed0055131782409bc19b7f5f7f8c1a0b178e490143af7&w=1380" alt="Blog Template">
                <div class="template-content">
                    <h3 class="template-title">Blog</h3>
                    <p class="template-description">Create your own Blog</p>
                    <a href="#" class="template-link">Use This Template →</a>
                </div>
            </div>
                                
            <div class="template-item">
                <img class="template-image" src="https://img.freepik.com/free-psd/fashion-template-design_23-2151196935.jpg?w=1380&t=st=1728039367~exp=1728039967~hmac=692fa5bc5f77833267e9b557071eda528b47e8d79027a5f5a38c0baa65550083" alt="Fashion Template">
                <div class="template-content">
                    <h3 class="template-title">Fashion</h3>
                    <p class="template-description">Create your design website fashion</p>
                    <a href="#" class="template-link">Use This Template →</a>
                </div>
            </div>
            <div class="template-item">
                <img class="template-image" src="https://img.freepik.com/free-vector/flat-design-business-workshop-landing-page_23-2149436113.jpg?t=st=1728039563~exp=1728043163~hmac=63b7773331e4168b11c68db4c4bd59a4bd56d24165b6553023cbeff098048a62&w=1380" alt="Business Template">
                <div class="template-content">
                    <h3 class="template-title">Business</h3>
                    <p class="template-description">Manage your own website business here</p>
                    <a href="#" class="template-link">Use This Template →</a>
                </div>
            </div>
        </div>
                                
        <div class="arrow arrow-left" onclick="scrollTemplates(-1)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
            </svg>
        </div>
        <div class="arrow arrow-right" onclick="scrollTemplates(1)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
            </svg>
        </div>
    </div>
    </section> 
    </div>
</section>
